## a) Notebook Settings

In [1]:
# Show ALL outputs in cell, not only last result
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
relative_filepath = "../../"

In [3]:
# Set relative path mapping for module imports
import sys

sys.path.append(relative_filepath)

#for path in sys.path:
#    print(path)

## b) Dependencies

In [4]:
# External Dependencies
import numpy as np
import pandas as pd

#Local Dependencies
from data.external import get_external_data

## c) Get Input Data

#### i) Load sklearn toy data

In [5]:
# Load data
#X_y_data = get_external_data.load_pd_toy_data("breast_cancer")

#"Features & Target: X_y_data Type", type(X_y_data)

#### ii) Load interview data

In [6]:
# Load GFK technical test datasets (already split into train & test) (both numeric & categorical)
X_y_train = pd.read_csv(relative_filepath + "data/raw/practice_training.csv", header = 0, sep = ';')
X_y_test = pd.read_csv(relative_filepath + "data/raw/practice_validation.csv", header = 0, sep = ';')

X_y_data = pd.concat([X_y_train, X_y_test], ignore_index=True)

"Combined Features & Target: X_y_data Type", type(X_y_data)

('Combined Features & Target: X_y_data Type', pandas.core.frame.DataFrame)

## d) Initial Look at Data

In [7]:
input_dfs = [X_y_data,
             X_y_train,
             X_y_test]

In [8]:
# Initial Look at Data
for df in input_dfs: 
    df.head()
    df.shape

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,classLabel
0,a,"17,92","5,4e-05",u,"-0,840182024985552","0,522882590622095","1,75",f,t,1,t,g,80.0,5,800000,t,0,no.
1,b,"16,92","3,35e-05",y,"-2,15963506605476","0,774187133555115","0,29",f,f,0,f,s,200.0,0,2e+06,NaN,0,no.
2,b,"31,25","0,0001125",u,"1,75068668089807","0,76036270650308",0,f,t,1,f,g,96.0,19,960000,t,0,no.
3,a,"48,17","0,0001335",u,"4,17487068567425","0,888963139486792","0,335",f,f,0,f,g,0.0,120,0,NaN,0,no.
4,b,"32,33","0,00035",u,"-3,78547915257514","0,489023844085239","0,5",f,f,0,t,g,232.0,0,2.32e+06,f,0,no.

(3900, 18)

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,classLabel
0,a,"17,92","5,4e-05",u,"-0,840182024985552","0,522882590622095","1,75",f,t,1,t,g,80.0,5,800000.0,t,0,no.
1,b,"16,92","3,35e-05",y,"-2,15963506605476","0,774187133555115","0,29",f,f,0,f,s,200.0,0,2000000.0,NaN,0,no.
2,b,"31,25","0,0001125",u,"1,75068668089807","0,76036270650308",0,f,t,1,f,g,96.0,19,960000.0,t,0,no.
3,a,"48,17","0,0001335",u,"4,17487068567425","0,888963139486792","0,335",f,f,0,f,g,0.0,120,0.0,NaN,0,no.
4,b,"32,33","0,00035",u,"-3,78547915257514","0,489023844085239","0,5",f,f,0,t,g,232.0,0,2320000.0,f,0,no.

(3700, 18)

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,classLabel
0,b,"32,33","0,00075",u,"0,840107307","0,544982291","1,585",t,f,0,t,s,420.0,0,4200000,NaN,1,no.
1,b,"23,58","0,000179",u,"-4,174395711","0,864361709","0,54",f,f,0,t,g,136.0,1,1360000,NaN,0,no.
2,b,"36,42","7,50E-05",y,"2,23222567","0,627475551","0,585",f,f,0,f,g,240.0,3,2400000,NaN,1,no.
3,b,"18,42","0,0010415",y,"-2,469969629","0,846741022","0,125",t,f,0,f,g,120.0,375,1200000,NaN,0,no.
4,b,"24,5","0,0013335",y,"-3,149422333","0,321087006","0,04",f,f,0,t,g,120.0,475,1200000,f,1,no.

(200, 18)

In [26]:
#X_y_data.to_csv('X_y_data.csv')
#X_y_train.to_csv('X_y_train.csv')
#X_y_test.to_csv('X_y_test.csv')

In [9]:
# Set name of target (CREATE A CONFIG DICT AND ADD THIS IN AS WELL AS OTHER SUITABLE ARGUMENTS)
target = "classLabel"

In [28]:
# Split into 'X features pandas df' &  'y target pandas series'
X_combined = X_y_data.drop([target], axis=1)
y_combined = X_y_data[target]

"Combined Features only: X_combined Type", type(X_combined)
"Combined Features only: X_combined Shape", X_combined.shape
"Combined Target only: y_combined Type", type(y_combined)
"Combined Target only: y_combined Shape", y_combined.shape

('Combined Features only: X_combined Type', pandas.core.frame.DataFrame)

('Combined Features only: X_combined Shape', (3900, 17))

('Combined Target only: y_combined Type', pandas.core.series.Series)

('Combined Target only: y_combined Shape', (3900,))

## e) Split Into Train & Test

#### i) If input data is already combined

In [29]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X_combined,
#                                                     y_combined,
#                                                     random_state=1,
#                                                     test_size=0.25)

# "Train Features only: X_train Type", type(X_train)
# "Train Features only: X_train Shape", X_train.shape
# "Train Target only: y_train Type", type(y_train)
# "Train Target only: y_train Shape", y_train.shape
# "######"
# "Test Features only: X_test Type", type(X_test)
# "Test Features only: X_test Shape", X_test.shape
# "Test Target only: y_test Type", type(y_test)
# "Test Target only: y_test Shape", y_test.shape

#### ii) If input data is already split into train & validation/test sets

In [30]:
# Split into 'X features pandas df' &  'y target pandas series'
X_train = X_y_train.drop([target], axis=1)
y_train = X_y_train[target]

X_test = X_y_test.drop([target], axis=1)
y_test = X_y_test[target]

"Train Features only: X_train Type", type(X_train)
"Train Features only: X_train Shape", X_train.shape
"Train Target only: y_train Type", type(y_train)
"Train Target only: y_train Shape", y_train.shape
"######"
"Test Features only: X_test Type", type(X_test)
"Test Features only: X_test Shape", X_test.shape
"Test Target only: y_test Type", type(y_test)
"Test Target only: y_test Shape", y_test.shape

('Train Features only: X_train Type', pandas.core.frame.DataFrame)

('Train Features only: X_train Shape', (3700, 17))

('Train Target only: y_train Type', pandas.core.series.Series)

('Train Target only: y_train Shape', (3700,))

'######'

('Test Features only: X_test Type', pandas.core.frame.DataFrame)

('Test Features only: X_test Shape', (200, 17))

('Test Target only: y_test Type', pandas.core.series.Series)

('Test Target only: y_test Shape', (200,))

## f) Save Datasets

In [10]:
# Pickle combined set
X_y_data.to_pickle(relative_filepath + "data/interim/step_2/X_y_data.pkl")

# Pickle training set
X_y_train.to_pickle(relative_filepath + "data/interim/step_2/X_y_train.pkl")

# Pickle test set
X_y_test.to_pickle(relative_filepath + "data/interim/step_2/X_y_test.pkl")